trunk/sqltoy-quickvo/src/main/resources/META-INF/schema/quickvo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.sagframe.com/schema/quickvo"
	xmlns:tns="http://www.sagframe.com/schema/quickvo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.sagframe.com/schema/quickvo"
	elementFormDefault="qualified">
	<xsd:element name="quickvo">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="field-keywords" maxOccurs="1"
					minOccurs="0">
					<xsd:annotation>
						<xsd:documentation><![CDATA[字段命名关键词,用逗号分隔]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="value" type="xsd:string"
							use="required" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="property" maxOccurs="unbounded">
					<xsd:complexType mixed="true">
						<xsd:attribute name="file" type="xsd:string" />
						<xsd:attribute name="name" type="xsd:string" />
						<xsd:attribute name="value" type="xsd:string" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="datasource" minOccurs="1"
					maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="name" type="xsd:string"
							default="0" />
						<xsd:attribute name="url" type="xsd:string"
							use="required" />
						<xsd:attribute name="driver" type="xsd:string"
							use="required" />
						<xsd:attribute name="username" type="xsd:string"
							use="required" />
						<xsd:attribute name="password" type="xsd:string"
							use="required" />
						<xsd:attribute name="catalog" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[DB2支持]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="schema" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[oracle,mysql,postgresql等支持]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="tasks" form="qualified" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence maxOccurs="unbounded">
							<xsd:element name="task" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence maxOccurs="unbounded">
										<xsd:element name="vo" minOccurs="0">
											<xsd:complexType>
												<xsd:attribute name="package"
													type="xsd:string" use="required" />
												<xsd:attribute name="substr" type="xsd:string"
													use="required" />
												<xsd:attribute name="name" type="xsd:string"
													use="required" />
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="datasource"
										type="xsd:string" />
									<xsd:attribute name="active" type="xsd:boolean"
										use="required" />
									<xsd:attribute name="swagger-model"
										type="xsd:boolean" />
									<xsd:attribute name="author" type="xsd:string" />
									<xsd:attribute name="include" type="xsd:string"
										use="required" />
									<xsd:attribute name="exclude" type="xsd:string" />
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="dist" type="xsd:string" />
						<xsd:attribute name="encoding" type="xsd:string"
							default="UTF-8" />
					</xsd:complexType>
				</xsd:element>
				<!-- 主键生成机制配置 -->
				<xsd:element name="primary-key" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="table" minOccurs="0"
								maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="name" type="xsd:string" />
									<xsd:attribute name="strategy" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="generator" />
												<xsd:enumeration value="assign" />
												<xsd:enumeration value="sequence" />
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="generator">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="default" />
												<xsd:enumeration value="UUID" />
												<xsd:enumeration value="snowflake" />
												<xsd:enumeration value="nanotime" />
												<xsd:enumeration value="redis" />
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="sequence" type="xsd:string" />
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- 业务主键策略 -->
				<xsd:element name="business-primary-key" maxOccurs="1">
					<xsd:complexType>
						<xsd:choice maxOccurs="unbounded">
							<xsd:element name="table">
								<xsd:complexType>
									<xsd:attribute name="name" use="required"
										type="xsd:string" />
									<xsd:attribute name="column" use="required"
										type="xsd:string" />
									<xsd:attribute name="length" type="xsd:int" />
									<xsd:attribute name="sequence-size" type="xsd:int" />
									<xsd:attribute name="signature" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>
											<![CDATA[用来区分识别不同业务分配的字符标志]]>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="related-columns"
										type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>
											<![CDATA[关联字段,用来组合业务主键的相关字段,可以是多个]]>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="generator" use="required"
										type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>
											<![CDATA[example:redis、snowflake or like as @bean(beanName) ]]>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<!-- 主子表级联配置 -->
				<xsd:element name="cascade" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[指定主表对应的子表操作模式,操作模式分:主表级联修改：一般分删除和停用(默认是删除)，load：级联加载,可以不写]]>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="table" minOccurs="0"
								maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="name" type="xsd:string" />
									<xsd:attribute name="update-cascade"
										type="xsd:string" />
									<xsd:attribute name="load" type="xsd:string"
										default="default" />
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- ORM类型转换映射 -->
				<xsd:element name="type-mapping" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[数据类型对应关系，native-type表示特定数据库返回的字段类型; jdbc-type：表示对应jdbc标准的类型(见:java.sql.Types),jdbc-type主要用于vo  @Column注解中，设置 其类型，方便操作数据库插入或修改时设置类型;java-type:表示转换为java VO时类型]]>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence maxOccurs="unbounded">
							<xsd:element name="sql-type" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="native-types"
										type="xsd:string" use="required" />
									<xsd:attribute name="precision" type="xsd:string" />
									<xsd:attribute name="scale" type="xsd:string" />
									<xsd:attribute name="jdbc-type" type="xsd:string" />
									<xsd:attribute name="java-type" type="xsd:string"
										use="required" />
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>