trunk/sagacity-sqltoy-4.1/src/main/resources/META-INF/schema/sqltoy-translate-4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.sagframe.com/schema/sqltoy-translate"
	xmlns:tns="http://www.sagframe.com/schema/sqltoy-translate" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.sagframe.com/schema/sqltoy-translate"
	elementFormDefault="qualified">
	<!-- root -->
	<xsd:element name="sagacity">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="translate" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence minOccurs="0" maxOccurs="1">
							<xsd:element name="sql" type="xsd:string" />
						</xsd:sequence>
						<xsd:attribute name="cache" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[指定翻译值的缓存名称，默认从此缓存处存取值]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="sql" type="xsd:string" />
						<xsd:attribute name="service" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[指定对应的spring bean名，与method属性共用]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="method" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[指定对应的spring bean名对应的method方法名称]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="datasource" type="xsd:string" />
						<xsd:attribute name="keep-alive" type="xsd:integer"
							default="3600">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[缓存存活时长(秒)]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="manager" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[多个translateCacheManager时指定具体的cache实现]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>