trunk/sqltoy-orm/src/main/resources/META-INF/schema/sqltoy-4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.sagframe.com/schema/sqltoy"
	xmlns:tns="http://www.sagframe.com/schema/sqltoy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.sagframe.com/schema/sqltoy"
	elementFormDefault="qualified">
	<xsd:element name="sqltoy">
		<xsd:annotation>
			<xsd:documentation><![CDATA[全局类型，便于将来给报表schema公用]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<!-- 全局类型sql type -->
				<xsd:element name="sql" type="sqlToySqlType">
					<xsd:unique name="sqlToySqlIdUnique">
						<xsd:selector xpath="tns:sql" />
						<xsd:field xpath="@id" />
					</xsd:unique>
				</xsd:element>
				<xsd:element name="mql" type="sqlToyMqlType">
					<xsd:unique name="sqlToyMqlIdUnique">
						<xsd:selector xpath="tns:mql" />
						<xsd:field xpath="@id" />
					</xsd:unique>
				</xsd:element>
				<!-- elasticsearch type -->
				<xsd:element name="eql" type="sqlToyEqlType">
					<xsd:unique name="sqlToyEqlIdUnique">
						<xsd:selector xpath="tns:eql" />
						<xsd:field xpath="@id" />
					</xsd:unique>
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="sqlToySqlType" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="filters" minOccurs="0" maxOccurs="1"
				type="sqltoyFiltersType" />
			<xsd:element name="translate" minOccurs="0"
				maxOccurs="unbounded" type="sqltoyTranslateType" />
			<xsd:element name="secure-mask" minOccurs="0"
				maxOccurs="unbounded" type="sqltoySecureMaskType" />
			<xsd:element name="value" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="count-sql" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="pivot" minOccurs="0" maxOccurs="1"
				type="sqltoyPivotType" />
			<xsd:element name="unpivot" minOccurs="0" maxOccurs="1"
				type="sqltoyUnpivotType" />
			<xsd:element name="summary" minOccurs="0" maxOccurs="1"
				type="sqltoySummaryType" />
			<xsd:element name="date-format" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="columns" type="xsd:string"
						use="required" />
					<xsd:attribute name="format" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="yyyy-MM-dd" />
								<xsd:enumeration value="yyyy-MM-dd HH:mm:ss" />
								<xsd:enumeration value="yyyyMMdd" />
								<xsd:enumeration value="yyyy-MM" />
								<xsd:enumeration value="MM-dd" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="number-format" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="columns" type="xsd:string"
						use="required" />
					<xsd:attribute name="format" use="required">
						<xsd:simpleType>
							<xsd:union memberTypes="numberFormatType xsd:string" />
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="roundingMode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="HALF_UP" />
								<xsd:enumeration value="HALF_DOWN" />
								<xsd:enumeration value="ROUND_DOWN" />
								<xsd:enumeration value="ROUND_UP" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="link" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="id-column" type="xsd:string" />
					<xsd:attribute name="column" type="xsd:string"
						use="required" />
					<xsd:attribute name="sign" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sharding-datasource" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="strategy" type="xsd:string"
						use="required" />
					<xsd:attribute name="strategy-value"
						type="xsd:string" />
					<xsd:attribute name="params" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sharding-table" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="tables" type="xsd:string"
						use="required" />
					<xsd:attribute name="strategy" type="xsd:string"
						use="required" />
					<xsd:attribute name="strategy-value"
						type="xsd:string" />
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>
			<!-- 分页优化 -->
			<xsd:element name="page-optimize" minOccurs="0"
				maxOccurs="1" type="sqltoyPageOptimizeType">
				<xsd:annotation>
					<xsd:documentation><![CDATA[分页优化,通过缓存来保留查询条件一样的分页查询对应count语句查询结果,当下次查询时可以直接获得count记录数]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- 行数据环比 -->
			<xsd:element name="rows-chain-relative" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation><![CDATA[垂直环比,行数据之间比较]]></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="reduce-one" type="xsd:boolean"
						default="false" />
					<xsd:attribute name="reverse" type="xsd:boolean"
						default="true" />
					<xsd:attribute name="multiply" default="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:enumeration value="1" />
								<xsd:enumeration value="100" />
								<xsd:enumeration value="1000" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="start-row" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation><![CDATA[从第几行开始比较,默认是0]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="end-row" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation><![CDATA[结束行,写成负数-1 表示倒数第二行,缺省表示到最后一行]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="relative-columns"
						type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[针对哪几列进行比较计算]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="radix-size" type="xsd:integer"
						default="3">
						<xsd:annotation>
							<xsd:documentation><![CDATA[保留小数位,默认保留3位]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="group-column" type="xsd:string"
						use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[可以写列的名称或数字索引,如单一类型比较没有对应group-column则可以写-1]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="defaultValue" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation><![CDATA[第一组数据没有对比数据的环比默认值]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="relative-indexs"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation><![CDATA[relative-indexs相对于group而言的,如月份之间对比(1月~4月),
							比较交易笔数、商品数量、交易金额中的交易金额一项,relative-indexs则为2,如比较交易笔数、商品数量、交易金额三项，则,relative-indexs="0,1,2"]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="format" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation><![CDATA[百分比:#.00%,千分比:#.00‰]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<!-- 列数据环比 -->
			<xsd:element name="cols-chain-relative" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation><![CDATA[水平同类列数据之间比较]]></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="reduce-one" type="xsd:boolean"
						default="false">
						<xsd:annotation>
							<xsd:documentation><![CDATA[是否减1,(B-A)/A,否则为B/A]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="multiply" default="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer">
								<xsd:enumeration value="1" />
								<xsd:enumeration value="100" />
								<xsd:enumeration value="1000" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="defaultValue" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation><![CDATA[第一组数据没有对比数据的环比默认值]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="group-size" type="xsd:integer"
						use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[如月份之间对比(1月~4月),比较交易笔数、商品数量、交易金额，group-size则为3]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="relative-indexs"
						type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[relative-indexs相对于group而言的,如月份之间对比(1月~4月),
							比较交易笔数、商品数量、交易金额中的交易金额一项,relative-indexs则为2,如比较交易笔数、商品数量、交易金额三项，则,relative-indexs="0,1,2"]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="start-column" type="xsd:integer"
						use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[标记开始比较列]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="end-column" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation><![CDATA[截止列,负数表示倒数第几列,如-1表示倒数第二列]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="radix-size" type="xsd:integer"
						default="3">
						<xsd:annotation>
							<xsd:documentation><![CDATA[保留小数位,默认保留3位]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="format" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation><![CDATA[百分比:#.00%,千分比:#.00‰]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<!-- 数据反转 -->
			<xsd:element name="reverse" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation><![CDATA[数据逆序排列]]></xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="start-row" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation><![CDATA[从第几行开始比较,默认是0]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="end-row" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation><![CDATA[结束行,写成负数-1 表示倒数第二行,缺省表示到最后一行]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string"
			use="required" />
		<xsd:attribute name="blank-to-null" default="true"
			type="xsd:boolean" />
		<xsd:attribute name="type">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="select" />
					<xsd:enumeration value="insert" />
					<xsd:enumeration value="update" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="dialect">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="db2" />
					<xsd:enumeration value="oracle" />
					<xsd:enumeration value="sqlserver" />
					<xsd:enumeration value="mysql" />
					<xsd:enumeration value="postgresql" />
					<xsd:enumeration value="clickhouse" />
					<xsd:enumeration value="sybase_iq" />
					<xsd:enumeration value="sqlite" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="sqlToyMqlType" mixed="true">
		<xsd:annotation>
			<xsd:documentation><![CDATA[全局类型 mongodb查询使用]]></xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="filters" minOccurs="0" maxOccurs="1"
				type="sqltoyFiltersType" />
			<xsd:element name="translate" minOccurs="0"
				maxOccurs="unbounded" type="sqltoyTranslateType" />
			<xsd:element name="secure-mask" minOccurs="0"
				maxOccurs="unbounded" type="sqltoySecureMaskType" />
			<xsd:element name="value" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="count-sql" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="pivot" minOccurs="0" maxOccurs="1"
				type="sqltoyPivotType" />
			<xsd:element name="unpivot" minOccurs="0" maxOccurs="1"
				type="sqltoyUnpivotType" />
			<xsd:element name="summary" minOccurs="0" maxOccurs="1"
				type="sqltoySummaryType" />
			<!-- 分页优化 -->
			<xsd:element name="page-optimize" minOccurs="0"
				maxOccurs="1" type="sqltoyPageOptimizeType" />
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string"
			use="required" />
		<xsd:attribute name="blank-to-null" type="xsd:boolean" />
		<xsd:attribute name="collection" type="xsd:string"
			use="required" />
		<xsd:attribute name="aggregate" type="xsd:boolean"
			default="false" />
		<xsd:attribute name="fields" use="required" />
	</xsd:complexType>
	<xsd:complexType name="sqlToyEqlType" mixed="true">
		<xsd:annotation>
			<xsd:documentation><![CDATA[全局类型 elasticsearch使用]]></xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="filters" minOccurs="0" maxOccurs="1"
				type="sqltoyFiltersType" />
			<xsd:element name="translate" minOccurs="0"
				maxOccurs="unbounded" type="sqltoyTranslateType" />
			<xsd:element name="secure-mask" minOccurs="0"
				maxOccurs="unbounded" type="sqltoySecureMaskType" />
			<xsd:element name="value" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="count-sql" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="pivot" minOccurs="0" maxOccurs="1"
				type="sqltoyPivotType" />
			<xsd:element name="unpivot" minOccurs="0" maxOccurs="1"
				type="sqltoyUnpivotType" />
			<xsd:element name="summary" minOccurs="0" maxOccurs="1"
				type="sqltoySummaryType" />
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string"
			use="required" />
		<xsd:attribute name="blank-to-null" default="true"
			type="xsd:boolean" />
		<xsd:attribute name="end-point" type="xsd:string" />
		<xsd:attribute name="value-root" type="xsd:string" />
		<xsd:attribute name="index" />
		<xsd:attribute name="type" />
		<xsd:attribute name="aggregate" type="xsd:boolean"
			default="false" />
		<xsd:attribute name="fields" use="required" />
		<!-- es语法模式 -->
		<xsd:attribute name="mode">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="sql" />
					<xsd:enumeration value="original" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<!-- 全局filter type -->
	<xsd:complexType name="sqltoyFiltersType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[通用filter]]></xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="blank" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						default="*" />
					<xsd:attribute name="excludes" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="eq" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="value" type="xsd:string"
						use="required" />
					<xsd:attribute name="excludes" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gt" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="value" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="gte" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="value" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="date-format" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="format" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="lt" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="value" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="lte" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="value" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="between" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="start-value" type="xsd:decimal"
						use="required" />
					<xsd:attribute name="end-value" type="xsd:decimal"
						use="required" />
					<xsd:attribute name="excludes" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="primary" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="param" type="xsd:string"
						use="required" />
					<xsd:attribute name="excludes" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="to-number" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="data-type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="decimal" />
								<xsd:enumeration value="integer" />
								<xsd:enumeration value="double" />
								<xsd:enumeration value="float" />
								<xsd:enumeration value="long" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="to-array" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="data-type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="string" />
								<xsd:enumeration value="decimal" />
								<xsd:enumeration value="integer" />
								<xsd:enumeration value="double" />
								<xsd:enumeration value="float" />
								<xsd:enumeration value="long" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="to-date" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="format" default="yyyy-MM-dd">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="first_day" />
								<xsd:enumeration value="last_day" />
								<xsd:enumeration value="yyyy-MM-dd" />
								<xsd:enumeration value="yyyyMMdd" />
								<xsd:enumeration value="yyyyMMddHHmmss" />
								<xsd:enumeration value="yyyy-MM-dd HH:mm:ss" />
								<xsd:enumeration value="first_year_day" />
								<xsd:enumeration value="last_year_day" />
								<xsd:enumeration value="first_week_day" />
								<xsd:enumeration value="last_week_day" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="type">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="date" />
								<xsd:enumeration value="timestamp" />
								<xsd:enumeration value="localDate" />
								<xsd:enumeration value="localDateTime" />
								<xsd:enumeration value="localTime" />
								<xsd:enumeration value="time" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="increment-days"
						type="xsd:integer" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="neq" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="value" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="split" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="split-sign" default="," />
					<xsd:attribute name="data-type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="string" />
								<xsd:enumeration value="decimal" />
								<xsd:enumeration value="integer" />
								<xsd:enumeration value="double" />
								<xsd:enumeration value="float" />
								<xsd:enumeration value="long" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="replace" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="regex" type="xsd:string"
						use="required" />
					<xsd:attribute name="value" type="xsd:string"
						use="required" />
					<xsd:attribute name="is-first" type="xsd:boolean"
						default="false" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="to-in-arg" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="params" type="xsd:string"
						use="required" />
					<xsd:attribute name="single-quote" type="xsd:boolean"
						default="true" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cache-arg" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="filter" minOccurs="0"
							maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="cache-index"
									type="xsd:integer" use="required" />
								<xsd:attribute name="compare-param"
									type="xsd:string" use="required" />
								<xsd:attribute name="compare-type">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="eq" />
											<xsd:enumeration value="neq" />
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
					<xsd:attribute name="param" type="xsd:string"
						use="required" />
					<xsd:attribute name="cache-name" type="xsd:string"
						use="required" />
					<xsd:attribute name="cache-type" type="xsd:string" />
					<xsd:attribute name="cache-mapping-indexes"
						type="xsd:string" default="1" />
					<xsd:attribute name="cache-mapping-max"
						type="xsd:integer" default="500" />
					<xsd:attribute name="cache-not-matched-value"
						type="xsd:string" />
					<xsd:attribute name="alias-name" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="exclusive" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="param" type="xsd:string"
						use="required" />
					<xsd:attribute name="set-params" type="xsd:string"
						use="required" />
					<xsd:attribute name="compare-type" default="eq">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="eq" />
								<xsd:enumeration value="neq" />
								<xsd:enumeration value="gt" />
								<xsd:enumeration value="gte" />
								<xsd:enumeration value="lt" />
								<xsd:enumeration value="lte" />
								<xsd:enumeration value="between" />
								<xsd:enumeration value="in" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="compare-values"
						type="xsd:string" />
					<xsd:attribute name="set-value" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="sqltoyTranslateType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[缓存翻译,uncached-template默认为:[${value}]未定义]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="cache" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="columns" type="xsd:string"
			use="required" />
		<xsd:attribute name="cache-type" type="xsd:string" />
		<xsd:attribute name="split-regex" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[F,M这种多代码翻译的分隔符号]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="link-sign" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[对应split-regex进行重新拼接的字符]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="cache-indexs" type="xsd:string" />
		<xsd:attribute name="uncached-template"
			type="xsd:string" />
		<xsd:attribute name="original-columns" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[服务于elastic、mongo在不使用sql模式,无法select staff_id as staffName,这里alias-name 对应staff_id]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="sqltoySecureMaskType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[安全掩码,对字段值进行脱敏]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="columns" type="xsd:string"
			use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[逗号分隔表示对对个字段进行脱敏]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="tel" />
					<xsd:enumeration value="name" />
					<xsd:enumeration value="id-card" />
					<xsd:enumeration value="bank-card" />
					<xsd:enumeration value="address" />
					<xsd:enumeration value="email" />
					<xsd:enumeration value="public-account" />
					<xsd:enumeration value="other" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="head-size" type="xsd:integer" />
		<xsd:attribute name="tail-size" type="xsd:integer" />
		<xsd:attribute name="mask-code" type="xsd:string" />
		<xsd:attribute name="mask-rate" type="xsd:integer" />
	</xsd:complexType>

	<!-- 分页优化 -->
	<xsd:complexType name="sqltoyPageOptimizeType">
		<!-- 保留多少个不同查询 -->
		<xsd:attribute name="alive-max"
			type="xsd:nonNegativeInteger" default="100" />
		<!-- 相同查询间隔多久刷新 -->
		<xsd:attribute name="alive-seconds"
			type="xsd:nonNegativeInteger" default="90" />
	</xsd:complexType>

	<xsd:complexType name="sqltoyPivotType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[行转列]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="group-columns" type="xsd:string"
			use="required" />
		<xsd:attribute name="category-columns" type="xsd:string"
			use="required" />
		<xsd:attribute name="category-sql" type="xsd:string" />
		<xsd:attribute name="start-column" type="xsd:string"
			use="required" />
		<xsd:attribute name="end-column" type="xsd:string"
			use="required" />
		<xsd:attribute name="default-value"
			type="xsd:anySimpleType" />
		<xsd:attribute name="default-type">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="date" />
					<xsd:enumeration value="decimal" />
					<xsd:enumeration value="Integer" />
					<xsd:enumeration value="double" />
					<xsd:enumeration value="float" />
					<xsd:enumeration value="long" />
					<xsd:enumeration value="string" />
					<xsd:enumeration value="timestamp" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="sqltoyUnpivotType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[将几个固定列指标转为多行来显示]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="columns-to-rows" type="xsd:string"
			use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[格式如下"col1:指标名称1,col2:指标名称2"]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="new-columns-labels"
			type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[为新产生的2个列设定标题便于映射到VO对象属性,如:"indexName,indexValue"]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="sqltoySummaryType">
		<xsd:sequence>
			<xsd:element name="global" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="label-column" type="xsd:string"
						use="required" />
					<xsd:attribute name="sum-label" type="xsd:string"
						use="required" />
					<xsd:attribute name="average-label" type="xsd:string" />
					<xsd:attribute name="reverse" type="xsd:boolean"
						default="false" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="group" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="group-column" type="xsd:string"
						use="required" />
					<xsd:attribute name="label-column" type="xsd:string"
						use="required" />
					<xsd:attribute name="sum-label" type="xsd:string"
						use="required" />
					<xsd:attribute name="average-label" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="columns" type="xsd:string" />
		<xsd:attribute name="radix-size" type="xsd:integer" />
		<xsd:attribute name="reverse" type="xsd:boolean"
			default="false" />
		<xsd:attribute name="sum-site">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="left" />
					<xsd:enumeration value="right" />
					<xsd:enumeration value="top" />
					<xsd:enumeration value="bottom" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="numberFormatType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="#,###.00" />
			<xsd:enumeration value="capital" />
			<xsd:enumeration value="capital-rmb" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>